@import 'styles/mixins';

.featuredImageContainer {
  position: relative;
  overflow: hidden;
  width: 50%;
  min-height: 500px;

  @include media-breakpoint-down(lg) {
    width: calc(100% - 2rem);
    margin: 0 auto;
    min-height: 200px;
  }
}
