@import 'styles/mixins.scss';

.headerNav {
  display: flex;
  top: 0;
  justify-content: center;
  flex-grow: 0;
  padding: 0;
  margin: 0;
  line-height: 2rem;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: center;
  }

  li {
    list-style: none;
    transition: all 500ms ease;

    a {
      display: block;
      padding: 1rem 2rem;
    }

    &:hover {
      background-color: #efefef;
    }
  }
}

.headerNavContainer {
  @include media-breakpoint-down(sm) {
    position: absolute;
    padding-top: 4rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 90;
    background-color: white;
    transform: translateX(-100vw);
    transition: all 500ms ease;

    &[data-open='true'] {
      transform: translateX(0vw);
    }
  }
}

.toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 1rem;
  background-color: white;
  font-size: 2rem;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}
