/**
 * Stop colors on IG SVG logo
 */
.ig-svg-a {
  stop-color: #fd5;
}
.ig-svg-b {
  stop-color: #ff543e;
}
.ig-svg-c {
  stop-color: #c837ab;
}
.ig-svg-d {
  stop-color: #3771c8;
}
.ig-svg-st0 {
  fill: url(#ig-svg-d);
}
.ig-svg-st1 {
  fill: url(#ig-svg-c);
}
.ig-svg-st2 {
  fill: url(#ig-svg-b);
}
.ig-svg-st3 {
  fill: url(#ig-svg-a2);
}
.ig-svg-st4 {
  fill: #ffffff;
}
